.tabs {
  width: 100%;
  display: flex;
  gap: 20px;

  border-bottom: 1px solid #ddd;

  font-size: 13px;

  overflow-x: auto;
  overflow-y: hidden;

  flex:none;

  &::-webkit-scrollbar {
    height: 1px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
  }

  .tab {
    height: 20px;
    line-height: 20px;
    padding: 8px 10px 6px;

    color: #888;
    cursor: pointer;

  }

  .input{
    //box-sizing: border-box;
    border:0;
    outline: none;
    color: #58C4DC;
  }


  .active {
    color: #58C4DC;
    border-bottom: 3px solid #58C4DC;
  }
}
